.BannerContainer{
    width: 100vw;
    height: 90vh;
}

.BannerContainer img{
    width: 100%;
    height: 100%;
    filter: blur(6px);
}

.position{
    position: absolute;
    top: 50%;
    right: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.position p{
    font-size: 60px;
    color: black;
    width: 900px;
    height: 9rem;
    border-radius: 10px;
    text-align: center;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(171, 202, 188, .8);
}

.ButtonTienda{
    width: 130px;
    height: 40px;
    color: white;
    border: 1px solid rgba(171, 202, 188);
    text-align: center;
    font-size: 3rem;
    background: rgba(171, 202, 188, .6);
    margin: 0 auto;
    margin-top: 20px;
    transition: .6s;
}
.ButtonTienda:hover{
    background-color: #abcabc;
}