.nav{
    background-color: #abcabc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav h1{
    font-size: 20px;
}

.linksContainer{
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.linksItem{
    width: 23%;
    height: 85%;
    background-color: rgba(0, 0, 0, .3);
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.linksItem:hover{
    cursor: pointer;
}