.cartContainer{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 30px 0;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.cartContainer h3{
    text-align: center;
    font-size: 50px;
}
.cartContainer p{
    text-align: center;
    opacity: .6;
    margin-bottom: 30px;
}

table{
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #1A2929;
    margin-bottom: 15px;
}

td,th{
    text-align: center;
    padding: 8px;
    border-radius: 1px solid #1A2929;
}

td{
    font-size: 12px;
}

thead th{
    color: #ffffff;
    background-color: #1A2929;
}

.btn-delete{
    background-color: none;
    background: none;
    font-size: 18px;
    border: 2px solid black;
    padding: 0px 4px;
    text-align: center;
    margin: 0 auto;
}
.btn-delete:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .3s;
}

.btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.btn-container button{
    background: none;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 2px solid #abcabc;
}
.btn-container button:hover{
    cursor: pointer;
    border-bottom: 2px dashed #abcabc;
}